{% load static %}
<section>
	<footer class="footer">
		<div class="parallax_background mt-5 parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cheetah.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row"><div class="col"><div class="newsletter">
				<div class="newsletter_title_container text-center"><div class="newsletter_title">Plan your next Kenyan adventure with us</div><div class="newsletter_subtitle">Tell us what you are looking for and we will shape the experience around you.</div></div>
				<div class="text-center mt-4"><a href="{% url 'booking' %}" class="newsletter_button btn-warning">Start a booking request</a></div>
			</div></div></div>
			<div class="row footer_contact_row"><div class="col-xl-10 offset-xl-1"><div class="row">
				<div class="col-xl-4 footer_contact_col"><div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center"><div class="footer_contact_icon"><img src="{% static 'images/sign.svg' %}" alt=""></div><div class="footer_contact_title text-success"><b>give us a call</b></div><div class="footer_contact_list"><ul><li><a href="tel:+254769634078" class="text-primary"><b>+254769634078</b></a></li></ul></div></div></div>
				<div class="col-xl-4 footer_contact_col"><div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center"><div class="footer_contact_icon"><img src="{% static 'images/trekking.svg' %}" alt=""></div><div class="footer_contact_title text-success"><b>come & drop by</b></div><div class="footer_contact_list"><ul style="max-width:190px"><li class="text-primary"><b>PO.BOX 1133-00511, Ongata Rongai</b></li></ul></div></div></div>
				<div class="col-xl-4 footer_contact_col"><div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center"><div class="footer_contact_icon"><img src="{% static 'images/around.svg' %}" alt=""></div><div class="footer_contact_title text-success"><b>send us a message</b></div><div class="footer_contact_list"><ul><li><a href="mailto:uniquestadventureslimited@gmail.com" class="text-primary"><b>uniquestadventureslimited@gmail.com</b></a></li></ul></div></div></div>
			</div></div></div>
		</div>
		<div style="background-color: black;" class="col text-center text-white">Copyright &copy; {% now 'Y' %} All rights reserved</div>
	</footer>
</section>