{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<title>About us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travello template project">
<meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- SEO Meta Tags -->
    <meta name="description" content="uniquest travels – where adventure meets authenticity.">
  <meta name="keywords" content="uniquest,  travels, tours, uniquest tours, uniquest travels">
  <meta name="author" content="travels and tours, Uniquest Tours">
  <meta name="robots" content="index, follow">


<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">

        <!--Favicon-->
  <link href="{% static 'images/favicon2.png' %}" rel="icon" class="rounded-circle">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
								<div class="logo text-danger"><a href="/" class="text-danger "><b>UniQuest Travels</b></a></div>
								<nav class="main_nav text-light ml-auto">
									<ul class="d-flex flex-row align-items-start justify-content-start text-light">
										<li><a href="/" class="text-warning"><b>Home</b></a></li>
										<li class="active"><a href="/about/" class="text-warning"><b>About Us</b></a></li>
										<li><a href="/contact/" class="text-warning"><b>Contact Us</b></a></li>
										<li><a href="/destinations/" class="text-warning"><b>Destinations</b></a></li>
                                        <li><a href="/gallery/" class="text-warning"><b>Gallery</b></a></li>
									</ul>
								</nav>
							{% if user.is_authenticated %}
								<div class="header_phone ml-auto text-primary" >Welcome, {{user.first_name}}</div>
							{% else %}
								<div class="header_phone ml-auto">

										<i class="fa fa-instagram" aria-hidden="false"></i>
									</a>
								</div>
							{% endif %}

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_social d-flex flex-row align-items-center justify-content-start">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="https://www.facebook.com/profile.php?id=61583113811233" target="_blank"><i class="fa fa-facebook text-primary" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/uniquestadventure?igsh=OGN2Y3M2Zzh3dnAw" target="_blank"><i class="fa fa-instagram text-danger" aria-hidden="true"></i></a></li>
				<li><a href="https://wa.me/+254769634078" target="_blank"><i class="fa fa-whatsapp text-success" aria-hidden="true"></i></a></li>

			</ul>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_header d-flex flex-row align-items-center justify-content-start">
			<div class="menu_logo text-danger"><a href="" class="text-danger">UniQuest Travels</a></div>
			<div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
		</div>
		<div class="menu_content">
			<ul>
				<li class="active"><a href="" class="text-warning">Home</a></li>
				<li><a href="/about/" class="text-warning">About Us</a></li>

				<li><a href="/contact/" class="text-warning">Contact</a></li>
                <li><a href="/destinations/" class="text-warning"><b>Destinations</b></a></li>
                <li><a href="/gallery/" class="text-warning"><b>Gallery</b></a></li>

				{% if user.is_authenticated %}
					<li><a href="accounts/logout">Logout</a></li>
				{% else %}
					<li><a href="accounts/register"></a></li>
					<li><a href="accounts/login"></a></li>
				{% endif %}
			</ul>
		</div>
		<div class="menu_social">
			{% if user.is_authenticated %}
				<div class="menu_phone ml-auto">Logged in: {{user.first_name}} {{user.last_name}}</div>
			{% else %}
				<div class="menu_phone text-success ml-auto" >Call us: +254769634078</div>
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="https://www.facebook.com/profile.php?id=61583113811233" target="_blank"><i class="fa fa-facebook text-primary" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/uniquestadventure?igsh=OGN2Y3M2Zzh3dnAw" target="_blank"><i class="fa fa-instagram text-danger" aria-hidden="true"></i></a></li>
				<li><a href="https://wa.me/+254769634078" target="_blank"><i class="fa fa-whatsapp text-success" aria-hidden="true"></i></a></li>

				</ul>
			{% endif %}
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/Maasai3.jpeg' %})"></div>
	</div>



<h1 class="text-center text-danger mt-5">Maasai Village Tour from Nairobi</h1>

<div class="m-auto p-5">
	<h2 class="text-info">What to expect </h2>
<ul class="text-dark" style="list-style-type: square;">
    <li>Warm Welcome: Arrive at the Maasai village and be greeted with
         traditional songs and rituals</li>
    <li>Village Walk: Explore homes, livestock areas, and community spaces guided by local 
        Maasai experts.</li>
    <li>Cultural Demonstrations: Witness dances, songs, and ceremonies that have been preserved 
        for generations.</li>
    <li>Meet Artisans: Learn about beadwork, crafts, and how Maasai culture supports
         their economy.</li>
    <li>Personal Connections: Ask questions, engage respectfully, and gain insight into Maasai values 
        and way of life.</li>
    <li>Memorable Experience: Leave with stories, photos, and a deeper understanding of one of Africa’s most iconic communities.  Experience it once — carry it with you for a lifetime.”</li>
</ul>
</div>




<!-- Footer -->

<section>
    	<footer class="footer">
		<div class="parallax_background mt-5 parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cheetah.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter">
						<div class="newsletter_title_container text-center">
							<div class="newsletter_title">Subscribe to our newsletter to get the latest trends & news</div>
							<div class="newsletter_subtitle">Join our database NOW!</div>
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
								<div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
									<div><input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Name" required="required"><div class="input_border"></div></div>
									<div><input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="Your e-mail" required="required"><div class="input_border"></div></div>
								</div>
								<div><button style="background-color: brown;" class="newsletter_button">subscribe</button></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_contact_row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/sign.svg' %}" alt=""></div>
								<div class="footer_contact_title text-success"> <b>give us a call</b></div>
								<div class="footer_contact_list">
									<ul>

                                        <li><p class="mt-0 fs-6 text-center text-white"><b>Call US</b><strong><i class="bi bi-telephone-outbound text-primary text-center"></i> <a href="tel:+254769634078 " class="fs-6 text-primary"><b>+254769634078</b></a> </strong> <span></span></p>
</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/trekking.svg' %}" alt=""></div>
								<div class="footer_contact_title text-success"><b>come & drop by</b></div>
								<div class="footer_contact_list">
									<ul style="max-width:190px">
										<li class="text-primary"><b>PO.BOX 1133-00511,Ongata Rongai</b></li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/around.svg' %}" alt=""></div>
								<div class="footer_contact_title text-success"><b>send us a message</b></div>
								<div class="footer_contact_list">
									<ul>
                                        <li><a href="mailto:eunicekaratu24@gmail.com" class=" fs-6"><b>eunicekaratu24@gmail.com</b></a></li>
                                        <li><a href="mailto:uniquestadventureslimited@gmail.com " class=" fs-6"><b>uniquestadventureslimited@gmail.com</b> </a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div style="background-color: black;" class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
	</footer>
</div>

</section>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>


</body>

</html>